<div class="row">
    <form class="col s12" action="/complete" method="POST">
      <div class="row">

        <div class="input-field col s6">
          <input name="person_name" id="first_name" type="text" class="validate">
          <label for="first_name">이름</label>
        </div>
        <div class="input-field col s6">
          <input name="gender" id="first_name" type="text" class="validate">
          <label for="first_name">성별</label>
        </div>
        <div class="input-field col s6">
          <input name="school" id="first_name" type="text" class="validate">
          <label for="first_name">학교</label>
        </div>
        <div class="input-field col s6">
          <input name="major" id="first_name" type="text" class="validate">
          <label for="first_name">전공</label>
        </div>
        <div class="input-field col s6">
          <input name="grade" id="first_name" type="text" class="validate">
          <label for="first_name">학년</label>
        </div>
        <div class="input-field col s6">
          <input name="age" id="first_name" type="text" class="validate">
          <label for="first_name">나이</label>
        </div>

        <div class="input-field col s12">
          <textarea name="content" id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">자기소개</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">submit</i>
      </button>
    </form>
</div>
